 <div class="container" id="homepage">

<input type="text" id="searched-term" value="Search for beers here!">
<select name="search-type" id="search-type">
    <option value="">Beer</option>
    <option value="">Breweries</option>
    <option value="">State</option>
</select>
<button type="submit" id="beer-search">Search</button>

    
        <div class="container">
            <br><br><br>
        <div class="row">
            <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="jumbotron">
          <h1><i class="fa fa-facebook-square" aria-hidden="true"><img src="images/PubCrawl.png"></i></h1>
          <hr>
          
          <h5>Answer a few basic questions.
                <br><br> 
                Then find the right beer for you!
                <br><br>
                 Click below to start your survey.</h5>
          <br>
            <a href="/survey"><button class="btn btn-lg btn-primary" id="survey">Find your new BEER!
                <h4><span class="fa fa-list-alt"></span>
        </div>
        <div class="col-lg-4"></div>
    </div>
        </div>
    
        </div>
    </div>
    <br><br>

<br>
    <footer class="footer">
        Copyright DaiЯy Qu3Яy 2019
    </footer>
    