<div class="container">

        <h2>find your perfect beer</h2>
        <hr>
    
        <h3><strong>About You</strong></h3>
        <h4>Name (Required)</h4>
        <input type="text" id="name" class="form-control" required>
    
        <hr>
    
        <h3><strong>Question 1</strong></h3>
        <h4>which alcohol by volume do yu prefer?</h4>
        <select class="chosen-select" id="q1">
          <option value=""></option>
          <option value="1">2.2%-4.5%</option>
          <option value="2">4.6% -7.5%</option>
          <option value="3">7.6%-9.5%</option>
          <option value="4">9.6%-11.5%</option>
          <option value="5">11.6%-15%</option>
        </select>
    
        <h3><strong>Question 2</strong></h3>
        <h4>what state in the US do you want your beer to come from?</h4>

        <select class="chosen-select" id="q2">
          <option value=""></option>
          <option value="1">alabama</option>
          <option value="2"> Alaska</option>
          <option value="3"> Arizona</option>
          <option value="4"> Arckansas</option>
          <option value="6"> California</option>
          <option value="7"> colorado</option>
          <option value="8"> conneticut</option>
          <option value="9"> Delaware</option>
          <option value="10"> florida</option>
          <option value="11">georgia</option>
          <option value="12"> hawaii</option>
          <option value="13">Idaho</option>
          <option value="14">illinios</option>
          <option value="15"> indianna</option>
          <option value="16"> kansas</option>
          <option value="17"> kentucky</option>
          <option value="18"> louisana</option>
          <option value="19"> Maryland</option>
          <option value="20"> Massachusetts</option>
          <option value="21"> Michigan</option>
          <option value="22"> Minnesota</option>
          <option value="23"> Mississippi</option>
          <option value="24"> Missouri</option>
          <option value="25">Montana</option>
          <option value="26"> Nebraska</option>
          <option value="27"> Nevada</option>
          <option value="28"> new hampshire</option>
          <option value="29"> New jersey</option>
          <option value="30"> New mexico</option>
          <option value="31">new york</option>
          <option value="32">North carolina</option>
          <option value="33"> North dakota</option>
          <option value="34">Ohio</option>
          <option value="35"> Oklahoma</option>
          <option value="36">oregon</option>
         <option value="37"> pennsylvania</option>
         <option value="38"> Rhode island</option>
         <option value="39">South carolina</option>
         <option value="40">South Dakota</option>
         <option value="41">Tennesse</option>
         <option value="42"> Texas</option>
         <option value="43">Utah</option>
         <option value="44">Vermont</option>
         <option value="45">Virginia</option>
         <option value="46">washinton</option>
         <option value="47">west Virginia</option>
         <option value="48">wiscosin</option>
         <option value="49">wyoming</option>


        </select>
    
    
        <h3><strong>Question 3</strong></h3>
        <h4> how many ounces are you looking for ?</h4>
        <select class="chosen-select" id="q3">
        <option value=""></option>
         
          <option value="1">12oz </option>
          <option value="2">16oz</option>
          <option value="3"> 32oz</option>
          
        </select>
    
    
        <h3><strong>Question 4</strong></h3>
        <h4> beer name? </h4>
        <select class="chosen-select" id="q4">
          <option value=""></option>
          <option value="1">Barrier Lomax</option>
          <option value="2">Mikkeller San Diego Raspberry Blush</option>
          <option value="3">2nd Shift Technical Ecstasy</option>
          <option value="4"> Hitachino Nest Yuzu Lager</option>
          <option value="5">  Reuben's Brews Summer IPA</option>
          
        </select>
    
    
        <h3><strong>Question 5</strong></h3>
        <h4>what color are you looking for ?</h4>
        <select class="chosen-select" id="q5">
          <option value=""></option>
          <option value="1">red</option>
          <option value="2">brown</option>
          <option value="3">purple</option>
          <option value="4">yellow</option>
          <option value="5">reddish brown</option>
        </select>
    
    
        <h3><strong>Question 6</strong></h3>
        <h4>Are you the DD? </h4>
        <select class="chosen-select" id="q6">
          <option value=""></option>
          <option value="1">yes ( do not proceed further)</option>
          <option value="2">no </option>
         
        </select>
    
    
        <h3><strong>Question 7</strong></h3>
        <h4>how many beers do you plan on drinking? </h4>
        <select class="chosen-select" id="q7">
          <option value=""></option>
          <option value="1"> 3 or less </option>
          <option value="2"> 3-5 </option>
          <option value="3"> 5-10</option>
          <option value="4"> 10 or more </option>
    
        </select>
    
        <h3><strong>Question 8</strong></h3>
        <h4>what beer games do you like?  </h4>
        <select class="chosen-select" id="q8">
          <option value=""></option>
          <option value="1">beer pong</option>
          <option value="2"> never have i ever</option>
          <option value="3">Kings</option>
          <option value="4"> Flip cup</option>
          <option value="5">quarters</option>
        </select>
    
        <h3><strong>Question 9</strong></h3>
        <h4> preferred drink habbits? </h4>
        <select class="chosen-select" id="q9">
          <option value=""></option>
          <option value="1">drink alone</option>
          <option value="2"> love drinking buddies</option>
          <option value="3"> party drinker</option>
          <option value="4">pregame king/queen </option>
          
        </select>
    
        <h3><strong>Question 10</strong></h3>
        <h4> how many beers are in a keg</h4>
        <select class="chosen-select" id="q10">
          <option value=""></option>
          <option value="1"> 165</option>
          <option value="2">20</option>
          <option value="3">100 </option>
          <option value="4">0</option>
          <option value="5"> 10</option>
        </select>
        <h3><strong>Question 11</strong></h3>
        <h4> which country drinks the most beer</h4>
        <select class="chosen-select" id="q10">
          <option value=""></option>
          <option value="1"> Czech Republic</option>
          <option value="2">Germany</option>
          <option value="3"> Ireland </option>
          <option value="4"> USA</option>
          <option value="5"> Greece</option>
        </select>
    
        <br>
        <br>
    
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
         Submit</button>
    
        <hr>
        <footer class="footer">
          <div class="container">
            <p><a href="/api/friends">API Friends List</a> | <a href="https://github.com/afhaque/friendfinder">GitHub Repo</a></p>
          </div>
        </footer>
    
      </div>
    
      <!-- Modal -->
      <div id="results-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h2 class="modal-title"><strong>Best Match</strong></h2>
            </div>
            <div class="modal-body">
              <h2 id="match-name"></h2>
              <img id="match-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/064/1bd/3435aa3.jpg" alt="">
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
    
        </div>
      </div>